<template name="navigation">
  <nav class="deep-orange">
    <div class="nav-wrapper">
      <div class="container">
        <a href="#!" class="brand-logo">klave.no<i class="fa fa-code-fork" aria-hidden="true"></i></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="home.html">Home</a></li>
          <li><a href="About.html">About Me</a></li>
          <li><a href="Skills.html">My Skills</a></li>
          <li><a href="Portfolio.html">Services</a></li>
          <li><a href="Contact.html">Contact</a></li>
        </ul>
      </div>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="home.html">Home</a></li>
        <li><a href="About.html">About Me</a></li>
        <li><a href="Skills.html">My Skills</a></li>
        <li><a href="Portfolio.html">Services</a></li>
        <li><a href="Contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>

  <script>
    $(document).ready(function(){
      $('.modal').modal();

        $('.button-collapse').sideNav({
          menuWidth: 300,
          edge: 'left',
          closeOnClick: true,
          draggable: true,
          onClose: function(el) { $('.modal').modal(); },
        }
      );
    });
  </script>

</template>
